* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(39, 43, 61);
  margin: 0;
  padding: 0;
  font-family: "ZCOOL KuaiLe", cursive;
}

.nav {
  position: relative;
  background-color: darkviolet;
  font-size: 2rem;
  margin: 0;
  width: 100%;
  height: 5rem;
  z-index: 110;
}

.nav-list {
  position: relative;
  height: 60%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 5%;
  left: 5%;
  margin-right:2rem;
}

.burger {
  position: relative;
  color: white;
  background-color: white;
  display: block;
  height: 3px;
  width: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
}

.burger::before {
  content: "";
  display: block;
  position: relative;
  background-color: currentColor;
  height: 3px;
  width: 100%;
  top: -8px;
  border-radius: 20%;
}

.burger::after {
  content: "";
  display: block;
  position: relative;
  background-color: currentColor;
  height: 3px;
  width: 100%;
  top: 5px;
  border-radius: 20%;
}

.nav-list__li {
  position: relative;
  display: inline-block;
  height: 100%;
  margin-left:0 1rem;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: rgb(238, 238, 238);
}
.remove-storage{
  font-family: "ZCOOL KuaiLe", cursive;
  color:currentColor;
  background-color:darkviolet;
  border-radius:1rem;
  width:8rem;
  height:4rem;
}

.navigation {
  background-color: darkviolet;
  height: 25rem;
  width: 20rem;
  opacity: 0;
  z-index: 100;
}

.navigation li {
  position: relative;
  font-size: 2rem;
  left: 2rem;
  top: 1rem;
  list-style: none;
}
.navigation li:not(:first-child) {
  margin-top: 2rem;
}

.image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  height: 40rem;
  z-index: 100;
}

.main-image {
  position: absolute;
  width: 70%;
  height: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.root {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
  top: 80%;
  /* transform:translate(-50%,-50%); */
  padding: 1rem;
  z-index: 100;
  background-color: transparent;
  /* background-color: red; */
  overflow: hidden;
}
/*///////////////////////////////////////////////////////////////////*
 ////////////////////////API DOM ELEMENT/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

.API-div {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid black;
  height: 30rem;
  width: 20rem;
  border-radius: 3%;
  margin: 2rem;
  text-align: center;
}

.API-image {
  width: 100%;
  border: 2px solid black;
  border-radius: 3%;
}

.API-p {
  width: 100%;
  height: 5%;
  font-size: 2rem;
  font-weight: 700;
  /* text-align:center; */
  margin-top: 1rem;
  margin-left: 0;
  /* transform:translate(-50%,-50%); */
}

.API-ul {
  margin-top: 2.5rem;
  margin-right: 1rem;
}

.API-li {
  list-style: none;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.API-li1 {
  color: rgb(165, 128, 128);
}
.API-li2 {
  color: rgb(143, 32, 124);
}
.API-li3 {
  color: rgb(38, 141, 28);
}

/*///////////////////////////////////////////////////////////////////*
 ////////////////////////POPUP DOM ELEMENT/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

.backdrop {
  position: fixed;
  /* display:inline-block; */
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  width: 100%;
  height: 100%;
  /* top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.popup-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 211, 233);
  height: 90%;
  width: 30%;
  border: 3px solid black;
  border-radius: 3%;
}

.popup-header {
  position: relative;
  left: 50%;
  top: 10%;
  transform: translateX(-105px);
}

.popup-par {
  font-size: 1.4rem;
  text-align: center;
  position: relative;
  left: 50%;
  top: 15%;
  transform: translateX(-157px);
  width: 85%;
  height: 25rem;
}

.popup-img {
  position: relative;
  top: -15%;
  left: 50%;
  transform: translateX(-122px);
  width: 25rem;
  border: 3px solid black;
  border-radius: 3%;
}

.popup-return {
  position: absolute;
  right: 2%;
  top: 1%;
  width: 3rem;
  height: 3rem;
  border: 3px solid black;
  background-color: rgb(230, 211, 233);
  border-radius: 50%;
}

.popup-return-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -50%);
  width: 80%;
  height: 80%;
  border: 3px solid black;
  background-color: black;
  border-radius: 100%;
}

/*///////////////////////////////////////////////////////////////////*
 ////////////////////////PAGINATION DOM ELEMENTS/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

.pag-container {
  /* border:2px solid white; */
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  padding: 1rem;
  color: white;
  z-index: 100;
}

.pag-item {
  display: inline-block;
  font-size: 2rem;
  background-color: darkviolet;
  /* text-align: center; */
  padding: 1.7rem;
  width: 5rem;
  height: 6rem;
  border-radius: 20%;
  margin-left: 1rem;
  cursor: pointer;
  border: 2px solid white;
  margin-bottom: 1rem;
}

.pag-item:active {
  color: rgb(214, 27, 183);
  border: 2px solid rgb(214, 27, 183);
}

/*///////////////////////////////////////////////////////////////////*
 ////////////////////////EDITION DOM ELEMENTS/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

.backdrop-div {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.edit-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 211, 233);
  height: 100vh;
  width: 45%;
  border: 3px solid black;
  border-radius: 3%;
}

.edit-colors {
  position: absolute;
  height: 15rem;
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 5px;
  top: 10%;
}

.color-span {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color:crimson;
}

.edit-colors-array {
  position: absolute;
  height: 11rem;
  right: 0;
  width: 50%;
  /* border: 1px solid green; */
  border-radius: 5px;
  padding: 2rem;
}

.color-square {
  display: inline-block;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 1rem 0;
  cursor: pointer;
  overflow: hidden;
}

.edit-return {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size:2rem;
  position: absolute;
  top: 2%;
  left: 50%;
  width: 15rem;
  height: 4rem;
  transform: translateX(-50%);
  border-radius: 1rem;
  border:2px solid blueviolet;
  color:rgb(248, 238, 240);
  background-color:blueviolet;
}

.edit-copy-container {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  height: auto;
  width: auto;
}

.edit-selector {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.edit-selector button {
  font-family: "ZCOOL KuaiLe", cursive;
  margin: 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  border:5px solid;
  color:rgb(248, 238, 240);
  background-color:blueviolet;
}

.copyAPI-div {
  padding: 0.5rem;
  background-color: white;
  border: 2px solid black;
  height: 30rem;
  width: 21rem;
  border-radius: 3%;
  text-align: center;
}

/*///////////////////////////////////////////////////////////////////*
 ////////////////////////MEDIA QUERIES/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

@media (min-width: 1380px) {
  .image {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    height: 40rem;
    z-index: 100;
  }

  .main-image {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .root {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    top: 70%;
    padding: 5rem;
    z-index: 100;
    background-color: transparent;
    overflow: hidden;
    backface-visibility: hidden;
  }
  /*///////////////////////////////////////////////////////////////////*
 ////////////////////////PAGINATION DOM ELEMENTS/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

  .pag-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    padding: 1rem;
    color: white;
    z-index: 100;
  }

  .pag-item {
    display: inline-block;
    font-size: 2rem;
    background-color: darkviolet;
    /* text-align: center; */
    padding: 2rem;
    width: 6rem;
    height: 7rem;
    border-radius: 20%;
    margin-left: 1rem;
    cursor: pointer;
    border: 2px solid white;
    margin-bottom: 1rem;
  }

  /*///////////////////////////////////////////////////////////////////*
 ////////////////////////POPUP DOM ELEMENT/////////////////////////////*
 ////////////////////////////////////////////////////////////////////*/

  .popup-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 211, 233);
    height: 90%;
    width: 30%;
    border: 3px solid black;
    border-radius: 3%;
  }

  .popup-header {
    font-size: 4rem;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translateX(-204px);
  }

  .popup p {
    font-size: 2rem;
    text-align: center;
    position: relative;
    left: 50%;
    top: 15%;
    transform: translateX(-260px);
    width: 85%;
    height: 25rem;
  }

  .popup-img {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-172px);
    width: 35rem;
    border: 3px solid black;
    border-radius: 3%;
  }

  .popup-return {
    position: absolute;
    right: 2%;
    top: 1%;
    width: 5rem;
    height: 5rem;
    border: 3px solid black;
    background-color: rgb(230, 211, 233);
    border-radius: 50%;
  }

  .popup-return-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-48%, -50%);
    width: 80%;
    height: 80%;
    border: 3px solid black;
    background-color: black;
    border-radius: 100%;
  }
}
